---
import type { Faq } from "../data/faqs";

interface Props {
  faqs: Faq[];
}
const { faqs } = Astro.props;
---

<div class="faq-list">
  {
    faqs.map((faq) => (
      <details class="faq-item">
        <summary>{faq.question}</summary>
        <div class="faq-answer">
          <p>{faq.answer}</p>
        </div>
      </details>
    ))
  }
</div>
